.moviedisplay {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 200px);
  padding: 40px 50px;
}

.header {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  color: white;
}

.moviecontainer {
  scroll-behavior: smooth;
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: azure;
  height: 500px;
}

.movie img {
  height: 400px;
  width: 300px;
}

.moviedetail p {
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  cursor: pointer;
  font-size: larger;
}

.imagecontainer {
  position: relative;
  overflow: hidden;
}

.overview {
  position: absolute;
  color: black;
  background-color: bisque;
  padding-bottom: 15px;
  max-height: 400px;
  width: 300px;
  bottom: -1px;
  border-radius: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.overview h3 {
  text-decoration: underline;
}

.imagecontainer:hover .overview {
  transform: translateY(0%);
}

.search-box {
  position: relative;
  background: white;
  height: 38px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt {
  background: white;
  width: 240px;
  padding: 0 6px;
}

.search-btn {
  position: absolute;
  top: -1px;
  right: -10px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #229c7e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.5s;
  width: 0px;
}
