.moviedisplay {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 200px);
  padding: 40px 50px;
}

.header {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  color: white;
}

.moviecontainer {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: azure;
  height: 500px;
}

.movie img {
  height: 400px;
  width: 300px;
}

.moviedetail p {
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  cursor: pointer;
  font-size: larger;
}

.imagecontainer {
  position: relative;
  overflow: hidden;
}

.overview {
  position: absolute;
  color: black;
  background-color: bisque;
  padding-bottom: 15px;
  max-height: 400px;
  width: 300px;
  bottom: -1px;
  border-radius: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.overview h3 {
  text-decoration: underline;
}

.imagecontainer:hover .overview {
  transform: translateY(0%);
}

.hamburger {
  height: 20px;
  display: none;
}

/* search box */

.search-box {
  position: relative;
  background: white;
  height: 38px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt {
  background: white;
  width: 240px;
  padding: 0 6px;
}

.search-box:hover .search-btn {
  animation: none;
}

.search-btn {
  position: absolute;
  top: -1px;
  right: -10px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #229c7e;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #d3e4df;
  animation: pulse 3s infinite ease-in-out;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.5s;
  width: 0px;
}

.nodrop {
  cursor: no-drop;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #d3e4df;
  }
  100% {
    box-shadow: 0 0 20px #d3e4df;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    display: flex;
    height: 50px;
    width: 80vw;
    justify-content: space-between;
    color: white;
  }

  .moviedisplay {
    width: 100vw;
    padding: 30px 40px;
  }

  .movie {
    height: 350px;
    width: 200px;
  }

  .movie img {
    height: 250px;
    width: 200px;
  }

  .overview {
    max-height: 250px;
    width: 200px;
  }

  .moviecontainer {
    scroll-behavior: smooth;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .moviedetail {
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .moviedisplay {
    padding: 10px;
  }

  .movie img {
    height: 250px;
    width: 170px;
  }

  .movie {
    height: 300px;
    width: 150px;
  }

  .moviedetail {
    /* width: 100%; */
    font-size: 12px;
    line-height: 16px;
  }

  .title {
    font-size: 14px;
  }

  .moviecontainer {
    scroll-behavior: smooth;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .moviedetail p {
    font-weight: bold;
    padding-top: 5px;
  }

  .overview {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .search-box:hover > .search-txt {
    background: white;
    width: 200px;
    padding: 0;
  }

  .search-box:hover > .search-txt {
    background: white;
    width: 200px;
    padding: 0 6px;
  }

  a {
    text-decoration: none;
  }
}
